body {
  background-color: MistyRose;
}
.horizontal-overflow {
  width: 4000px;
  height: 100px;
  font-size: 54pt;
  background-color: gray;
}
.horizontal-overflow::before {
  color: white;
  content: "horizontal overflow";
}
.vertical-overflow {
  width: 100px;
  height: 4000px;
  font-size: 54pt;
  background-color: gray;
  writing-mode: vertical-rl;
}
.vertical-overflow::before {
  color: white;
  content: "vertical overflow";
}
.fixed {
  width: 100px;
  height: 100px;
  background-color: red;
  position: fixed;
}
.absolute {
  width: 100px;
  height: 100px;
  background-color: MediumPurple;
  position: absolute;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.nowrap {
  white-space: nowrap;
  counter-reset: item-counter;
}
.hflex {
  display: flex;
  flex-direction: row;
  counter-reset: item-counter;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap > div, .hflex > div {
  width: 100px;
  height: 100px;
  margin: 2px;
  text-align: center;
  font-size: 54pt;
}
.nowrap > div {
  display: inline-block;
  background-color: Sienna;
}
.hflex > div {
  flex: 1 1 auto;
  background-color: green;
}
.hflex.wrap > div {
  flex: 0 0 auto;
  background-color: blue;
}
.nowrap > div:before, .hflex > div:before {
  color: white;
  counter-increment: item-counter;
  content: counter(item-counter);
}
